---
import { Image } from "astro:assets";
import SEP from "../../public/Images/Icons/SEP.png";
import SEPH from "../../public/Images/Icons/SEPH.png";
import { navItemsOne, navItemsTwo } from "../components/Hero/Hero.js";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Images/Icons/Icon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <section class="w-11/12 p-2 flex justify-between items-center m-auto">
        <a href="https://www.gob.mx/sep">
          <Image src={SEP} alt="SEP" class="w-4/12 h-2/6" />
        </a>
        <a href="https://sep.hidalgo.gob.mx/">
          <Image src={SEPH} alt="SEPH" class="w-4/12 h-2/6" />
        </a>
      </section>
      <section>
        <nav class="bg-emerald-950 flex items-center justify-evenly p-2 text-white">
          <ul class="block justify-evenly items-center sm:flex">
            {
              navItemsOne.map(({ title, alt, url, image, id }) => (
                <li class="m-4 font-semibold flex items-center justify-center hover:border-b-2 duration-75"
                id={id}>
                  <img src={image} alt={alt} class="m-2" />
                  <a href={url}> {title} </a>
                </li>
              ))
            }
          </ul>
          <ul>
            {
              navItemsTwo.map(({ title, alt, url, image }) => (
                <li class="m-4 text-white cursor-pointer font-semibold flex items-center hover:border-b-2 duration-75">
                  <img src={image} alt={alt} />
                  <a href={url} class="m-2">
                    {title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </section>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    min-width: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
    /* color-scheme: light dark; */
  }

  body {
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }
</style>
